body {
  background-color:#000;
}

#head {
  position:relative;
  top:100px;
  left:50px;
  width:500px;
  height:200px;
  color:#0F0;
  font-family: Consolas, monaco, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
